@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Dosis:wght@500&display=swap');

* {
    box-sizing: border-box;
  }
.carousel-container {
    margin: 20px auto;
    width: 60%;
}

@media screen and (max-width: 750px) {
  .carousel-container {
    width: 50%;
  }
}